/*----------------
    DEBUG
------------------*/
.debug .container {
  border: 2px dashed blueviolet;
}

.debug .row .col {
  border: 2px dashed lightcoral;
  background-color: rgba(240, 128, 128, 0.2);
  min-height: 200px;
}

/*----------------
    RESET
------------------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*----------------
    COMMONS
------------------*/
.img-fluid {
  max-width: 100%;
}
img {
  width: 100%;
}
hr {
  background-color: #ff9614;
  margin-bottom: 0.8375rem;
  border-color: #ff9614;
  height: 1px;
  color: #ff9614;
  width: 5rem;
}

/*----------------
    LAYOUT
------------------*/
.container {
  margin: auto;
}

.row {
  display: flex;
}

.gap-10 {
  gap: 10px;
}
.gap-20 {
  gap: 20px;
}
.gap-30 {
  gap: 30px;
}

.col {
  flex-grow: 1;
}
body {
  background-color: #f6f5f3;
}

/*----------------
    TYPOGRAPHY
------------------*/
body {
  font-family: "Montserrat", helvetica, serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.nerko-one-regular {
  font-weight: 400;
  font-style: normal;
}
h1 {
  font-size: 3.125rem;
}
h2 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 0.8375rem;
}

h4 {
  font-size: 1.5rem;
  padding-bottom: 2rem;
}
h6 {
  font-size: 1rem;
  padding-bottom: 1rem;
}

/*----------------
    BUTTONS
------------------*/
.btn {
  background-color: #fff;
  font-family: inherit;
  border: none;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
  border-radius: 40%;
  font-size: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.btn-large {
  padding: 10px 20px;
  font-size: 16px;
}

.btn-primary {
  background-color: lightcoral;
  color: #fff;
}
.btn-f {
  color: #1a77f3;
}
.btn-t {
  color: #009eff;
}

.btn-i {
  color: #de3d78;
}

.btn-p {
  color: #e62222;
}

.btn-y {
  color: #e62222;
}

/*----------------
    HEADER
------------------*/
header h1 {
  color: #ff9614;
  text-align: center;
  background-color: #fff;
  padding: 1.25rem 2rem;
  text-shadow: 0.0625rem 0.0625rem 0.125rem #333;
  font-family: "Nerko One", cursive;
  margin-bottom: 1rem;
}
/*----------------
    MAIN
------------------*/
main {
  padding: 0 2rem;
}
.name h1 {
  color: #4e3969;
  font-size: 2.8rem;
  display: inline-block;
  margin-bottom: 2.25rem;
}
.name h1:last-of-type {
  display: none;
}
.name div:first-child {
  color: #999999;
  padding: 1rem 0;
}
.name span {
  display: none;
}

/* syntesis */

.syntesis {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.syntesis h5 {
  display: inline;
}
ul {
  list-style: none;
}
.syntesis li {
  margin-top: 0.8rem;
}
.syntesis > div:first-of-type {
  background-color: #fff;
}
.syntesis > div:last-of-type {
  background-color: #fff;
  padding: 3rem 2rem;
}
.syntesis span,
.syntesis h5 {
  font-size: 1.25rem;
}

/* social and banner */

.social ul {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}
.social > div:first-of-type {
  display: flex;
  min-width: 100%;
  margin: 1.8rem 0;
}
.social > div:last-of-type {
  display: none;
}
.social ul span {
  display: none;
}

/* recpie */

.recipe div:last-child {
  line-height: 1.9rem;
}

.recipe {
  margin-bottom: 5rem;
}
/*----------------
    FOOTER
------------------*/
footer {
  background-color: #7c69a4;
}
.foot {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1.875rem 1.25rem;
  gap: 1rem;
}
.foot ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.foot a {
  color: white;
}

/*---------------------------

    Responsive

------------------------------*/

@media screen and (min-width: 48rem) {
  header h1 {
    text-align: left;
  }
  .container {
    max-width: 56.25rem;
  }
  .name h1:last-of-type {
    display: inline;
    color: #4e3969;
  }
  .syntesis ul {
    display: flex;
    flex-wrap: wrap;
  }

  .syntesis li {
    width: calc((100% / 3));
    padding-left: 1rem;
  }

  /* social */

  .social > div:last-of-type {
    display: block;
  }

  .btn {
    padding: 0.8rem 4rem;
    border-radius: 100px;
    font-size: 1.1rem;
  }

  .social ul {
    margin: 3rem 0;
  }

  /* recipe */

  .recipe img {
    float: left;
    max-width: 30%;
    margin-right: 0.8rem;
  }
}

@media screen and (min-width: 62rem) {
  .container {
    max-width: 86.875rem;
  }
  .syntesis span,
  .syntesis h5 {
    font-size: 1rem;
  }
  .syntesis {
    display: flex;
  }

  .syntesis > div:first-of-type {
    width: 70%;
  }
  .syntesis > div:nth-of-type(2) {
    width: 30%;
  }
  .syntesis ul {
    display: block;
  }
  .syntesis li {
    width: 100%;
    padding-left: 0;
  }

  /* social */
  .social ul span {
    display: inline;
    color: black;
    font-weight: bolder;
  }
  .btn {
    padding: 0.775rem 2rem;
    border-radius: 100px;
    font-size: 0.8rem;
  }
  .social ul {
    margin: 1rem 0;
  }
  .social > div:first-of-type{
    margin: 0 0;
  }
  .social> div:last-of-type{
    margin-bottom:2rem ;
    margin-top: .9375rem;
  }
  /* recipe */
  hr{
    margin-bottom: 2rem;
  }

  /* footer */

  .foot {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    text-align: left;
    padding: 1.875rem 1.25rem;
    font-size: 0.675rem;
  }
  h6 {
    font-size: 0.775rem;
    padding-bottom: 0.3rem;
  }
}



